<% layout("./layouts/boilerplate")%>

<body>
    <div class="row mt-3">
        <h3 class="col-6 offset-3 mb-3">
            Login On StayScape!

        </h3>
            <div class="col-6 offset-3">
                
                <form method="POST" action="/login" class="needs-validation" novalidate>
                  <label for="username" class="form-label mb-2">Username</label>
                  <input
                  name="username"
                  id="username"
                  type="text"
                  class="form-control mb-1"
                  placeholder="_John5678_"
                  required
                  />
                 

                

                  <label for="password" class="form-label mb-2">Password</label>
                  <input
                  name="password"
                  id="password"
                  type="password"
                  class="form-control mb-1"
                  placeholder="Must be Strong"
                  required
                  />
                 
                  <button type="submit" class="btn btn-dark rounded-pill mt-3">
                    Login
                  </button>
                </form>
            </div>
    </div>
</body>